.Text {
  padding: 4px;
  outline: none;
  color: currentColor;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-all;
  width: fit-content;
  height: fit-content;
}
